<?php 

	
?>
<!DOCTYPE html>
<html>
<head>
	

	<title>Login Form</title>
    <style>
       #s1
       {
        width: 310px;
        height: 300px;
        box-shadow: 0 0 3px 0 rgba(0,0,0,0,.3); 
        background:rgb(233, 226, 226);
        padding: 25px;
        margin:7% auto 0 ;
        text-align: left;
        background-position: left;
        border-radius: 5%;
       }
       #s1 h1
       {
        width: 310px;
        text-align: center;
        background-color:#639e63;
        color: #fff;
        
       }
      
    </style>
    
</head>
<body>
    <div id ="s1"> 
	
		<form action="../controller/loginCheak.php" method="POST" class="login-email">
			<h1>LUCCHA SAMIN</h1>
			</form>
    </div>
</body>
</html>