body
{
margin: 0;
padding: 0;
font-family: sans-serif;
background-image: url(PowerfulReasons_hero.jpg);
background-size: cover ;
background-position: left;


}

.title 
{
    width: 300px;
    background-color:#639e63;
    color: #fff;
    text-align: center;
    margin:7% auto 0 ;
   
}
.create
{
width: 300px;
box-shadow: 0 0 3px 0 rgba(0,0,0,0,.3); 
background:#fff;
padding: 20px;
margin:7% auto 0 ;
text-align: left;
background-position: left;
}
.create h2
{
    background-color:#639e63;
    color: #fff;
    text-align: center;
}
.create_box
{
    background-color:#639e63;
    color: #fff;
}
.color2 a
{
    width:1200px;
    background-color:#639e63;
    color: #fff;
    
}
.delet_package
{
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0,.3); 
    background:#fff;
    padding: 20px;
    margin:7% auto 0 ;
    text-align: left;
}
.delet_package h2
{
    background-color:#639e63;
    color: #fff;
    text-align: center;
}
.delet_box
{
    background-color:#639e63;
    color: #fff;
}
